html,
body {
  margin: 0;
  overflow: hidden;
}

p {
  margin: 0;
}

/* MapContainer styles */
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
	margin: 0;
	padding: 0;
  overflow: hidden;
}

/* CoordinatesPanel styles */

.coordinates-panel {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 8px 16px;
  background-color: #061727;
  color: white;
	font-family: sans-serif, Arial;
  text-align: right;
  font-size: 14px;
  border-radius: 12px;
}

.coordinates-panel > .projection {
  color: #00b0ef;
  margin-left: 8px;
}


/* LayerPanel styles */

.layer-panel {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 250px;
  padding: 16px;
  background-color: #061727;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
	font-family: sans-serif, Arial;
}

.panel-title {
  font-size: 18px;
  font-weight: bold;
  color: #00b0ef;
  margin-bottom: 12px;
}

.layer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
	font-size: 14px;
	font-weight: 400;
  margin-bottom: 8px;
}

.layer-item input {
  cursor: pointer;
  accent-color: #00b0ef;
}

/* Controls styles */

.ol-zoom {
  background-color: #061727;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 10;
  margin-bottom: 2px;
}

.ol-zoom-in,
.ol-zoom-out {
  font-size: 30px;
  color: #00b0ef;
  padding: 8px;
  cursor: pointer;
  border: 0;
  margin-bottom: 2px;
  border-radius: 4px;
}

.ol-zoom-in:hover,
.ol-zoom-out:hover {
  background-color: #00b0ef;
  color: #061727;
  border-radius: 4px;
}

.ol-zoom-out {
  background-color: #061727;
  color: #00b0ef;
}
