html,
body {
  margin: 0;
  height: 100%;
}

/* MapContainer */
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map {
  width: 100%;
  height: 100%;
	margin: 0;
	padding: 0;
}

/* LayerPanel styles */

.layer-panel {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 250px;
  padding: 16px;
  background-color: #061727;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
	font-family: sans-serif, Arial;
}

.panel-title {
  font-size: 18px;
  font-weight: bold;
  color: #00b0ef;
  margin-bottom: 12px;
}

.layer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
	font-size: 14px;
	font-weight: 400;
  margin-bottom: 8px;
}

.layer-item input {
  cursor: pointer;
  accent-color: #00b0ef;
}

/* Controls */

/* Dostosowanie kontrolek zoomu (plus i minus) */
.ol-zoom {
  background-color: #061727; /* Kolor tła */
  border-radius: 4px; /* Zaokrąglenie rogów */
  padding: 10px; /* Powiększenie kontrolek */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20px; /* Odstęp od góry */
  left: 20px; /* Odstęp od lewej */
  z-index: 10; /* Ustawienie nad innymi elementami */
}

/* Zwiększenie rozmiaru przycisków plusa i minusa */
.ol-zoom-in,
.ol-zoom-out {
  font-size: 30px; /* Zwiększenie czcionki (przyciski zoomu) */
  color: #00b0ef; /* Kolor przycisków */
  padding: 8px;
  cursor: pointer;
}

/* Zmiana koloru przycisków zoomu po najechaniu */
.ol-zoom-in:hover,
.ol-zoom-out:hover {
  background-color: #00b0ef; /* Kolor tła po najechaniu */
  color: #061727; /* Kolor tekstu */
  border-radius: 4px; /* Zaokrąglenie */
}

/* Zmiana koloru kontenerów na zoom-out */
.ol-zoom-out {
  background-color: #061727;
  color: #00b0ef;
}
